CRACK_DEFAULT_MODEL=Seg_YOLO26n-seg-v1_crack-seg
CRACK_DEVICE=cpu
CRACK_DEFAULT_CONFIDENCE_THRESHOLD=0.5
CRACK_DEFAULT_PATCH_SIZE=512
CRACK_DEFAULT_OVERLAP_RATIO=0.2
CRACK_DEFAULT_BLEND_MODE=average
CRACK_USE_TTA=false
CRACK_USE_CLAHE=true
FINDCRACK_CHECKPOINTS_DIR=../findcrack/checkpoints